@import 'tailwindcss';

@theme {
  --font-base: Quicksand, serif;
  --font-title: Sarala, serif;

  /* Neutrals */
  --color-neutral-light: #e7e7e7; /* Lightest neutral (white) */
  --color-neutral-dark: #101338; /* Darkest neutral */

  /* Primary Colors */
  --color-primary-600: #0a1045; /* Dark primary */
  --color-primary-500: #283254; /* Main primary */
  --color-primary-400: #5674b9b8; /* Light primary with transparency */

  /* Secondary Colors */
  --color-secondary-600: #0c142f; /* Dark secondary */
  --color-secondary-500: #0a0f40; /* Main secondary */
  --color-secondary-400: #9fc4e4; /* Light secondary */

  /* Accent Colors */
  --color-accent-blue-700: #8eb8f8; /* Darkest blue accent */
  --color-accent-blue-600: #92b5ce; /* Dark blue accent */
  --color-accent-blue-500: #aad2f3; /* Main blue accent */
  --color-accent-blue-400: #b8e5fa; /* Light blue accent */
  --color-accent-blue-300: #b9e5fb; /* Lighter blue accent */
  --color-accent-blue-200: #d8f0fc; /* Lightest blue accent */

}
